{
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "jest": true
  },
  "parser": "babel-eslint",
  "extends": ["eslint:recommended", "plugin:react/recommended", "prettier"],
  "parserOptions": {
    "ecmaVersion": "2017",
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "jsx": true
    },
    "sourceType": "module"
  },
  "plugins": ["babel", "react", "import", "prettier", "react-hooks"],
  "rules": {
    "indent": "off",
    "comma-dangle": "off",
    "import/no-duplicates": "error",
    "import/no-unresolved": "error",
    "import/named": "error",
    // "prettier/prettier": [
    //   "error",
    //   {
    //     "endOfLine": "auto"
    //   }
    // ],
    "react/no-typos": "error",
    "react/no-unused-state": "error",
    "react/jsx-no-bind": "off",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "react/jsx-uses-react": 1,
    "react/react-in-jsx-scope": "off",
    "array-callback-return": "error",
    "consistent-return": "error",
    "babel/no-invalid-this": "error",
    "no-unused-vars": ["error", { "argsIgnorePattern": "^_" }]
  },
  "settings": {
    "react": {
      "pragma": "React",
      "version": "detect",
      "flowVersion": "0.63.1"
    },
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx"]
      }
    }
  }
}
