.b {
    border: 0px solid var(--gray);
}

@for $i from var(--border-from) to var(--border-to) {
    .b-$i {
        border-width: $(i)px;
    }
    .bt-$i {
        border-top-width: $(i)px;
    }
    .bb-$i {
        border-bottom-width: $(i)px;
    }
    .bl-$i {
        border-left-width: $(i)px;
    }
    .br-$i {
        border-right-width: $(i)px;
    }
}

@for $i from var(--border-from) to var(--border-to) {
    .bsc-$i {
        border: $(i)px solid #191919;
    }
}