:root {
  --mate-grey: #f1f1f1;
  --greish-white: #d8d2d2;
  --solid-white: #d8d1d1;
  --reddish-red: #b75967;
  --orangish-yellow: #ecb769;
  --whitish-grey: #757575;
  --whitish-white: #d4d4d4;
  --lightwhite-grey: #464646;
  --white-grey: #f1f3fa;
  --brownish-red: #b55b63;
  --lightish-yellow: #eeba6b;
  --lightish-grey: #c7ccc9;
  --light-gray: #f5f8f6;
  --lightish-graybtn: #8391a2;
  --lightish-blackgrey: #585656;
  --lightish-black: #635e5e;
  --lightish-red: #a73648;
  --light-green: #bced26;
  --dark-black: #464545;
  --dark-red: #c43f53;
  --dark-yellow: #d6902b;
  --pink: #b058ec;
  --bluish-violet: #7453ea;
  --dark-blue: #3f51b5;
  --darkish-blue: #727cf5;
  --orangish-red: #f55549;
  --violet: #9470ee;
  --grey: #a59f9f;
  --white: #ffffff;
  --whiteGray: #f5f5f5;
  --light-blue: #4ec5ff;
  --skycadetblue: cadetblue;
  --gray: #4a4a4a;
  --gray-light: #f3f3f3;
  --pale-grey: #f0f3f5;
  --gray-hover: darkslategray;
  --disabled-grey: #f1ecec;
  --brown-background: sandybrown;
  --bray: #424b5a;
  --bray-dark: #2f3949;
  --bray-medium: #505d68;
  --bray-light: #e8e8e8;
  --whitish: #e4e8f0;
  --lightgreen: #90ee90;
  --ligthtorange: #abd260;
  --quamarine: #66cdaa;
  --red-light: #ff8594;
  --red-medium: #d75867;
  --red: #d0021b;
  --yellow-light: #fffcaa;
  --yellow-medium: #dfdb6e;
  --yellow: #fff700;
  --green-surya: #3e883e;
  --green-light: #77e4aa;
  --green-medium: #46bf7f;
  --green: #00853f;
  --primary: #4e9c5a;
  --primary-dark: #ff961e;
  --very-light-blue: #eaeeff;
  --light-black: #333333;
  --floor-white: antiquewhite;
  --white: #fff;
  --black: #000;
  --img-border: #c2d1d9;
  --bg-grey: #ebebeb;
  --sm-grey: #313a46;
  --sm-white: #8391a2;
  --sky-blue: #3e7e91;
  --border-light-gray: #d2d2d2;
  --powdered-blue: #62d6d1;
  --light-bluish-violet: #4274a9;
  --light-blue-background: #eef2f7;
  --lightish-blue-background: #f2f4f7;
  --light-brown: #c9c1bf;
  --real-grey: grey;
  --light-white-background: #ececec;
  --white-background: #f0f0fa;
  --border-radius: 5px;
  --border-radius-light: 3px;
  --from: 0;
  --to: 10;
  --border-from: 0;
  --border-to: 2;
  --large-px: 18px;
  --medium-px: 16px;
  --small-px: 14px;
  --large-em: 20;
  --medium-em: 18;
  --small-em: 16;
  --x-small-px: 14px;
  --BGLiteGray: #f2f7fb;
  --BGLiteGreen: #effffe;
  --BGLitepink: #ffeced;
  --BGGray: #f2f8fe;
  --BGDarkGray: #292d30;
}
